anytree==2.13.0
backoff==2.2.1
black==26.10.0
casadi==3.8.1
certifi==2026.7.22
charset-normalizer==3.5.2
click==8.5.0
distro==1.9.0
idna==3.20
iniconfig==2.3.1
mpmath==1.3.0
mypy_extensions==1.1.0
numpy==2.5.3
packaging==26.3
pandas==3.0.6
pathspec==1.1.1
platformdirs==4.12.3
pluggy==1.6.0
pooch==1.9.0
posthog==7.64.1
pybamm==26.9.0.0
pybammsolvers==0.10.0
Pygments==2.21.0
pytest==8.4.2
python-dateutil==2.9.0.post0
pytokens==0.4.1
PyYAML==6.0.3
requests==2.34.2
ruff==0.14.0
scipy==1.18.1
six==1.17.0
sympy==1.14.0
typing_extensions==4.16.0
urllib3==2.8.0
xarray==2026.9.0
